@charset "UTF - 8";
/*
Cores:
fundo-principal: #a70e55 (rosa escuro)
fundo-card: #FFC7F1 (rosa claro)
texto-destaque: #43893F (verde escuro)
texto-segundo: #74EB6E (verde claro) 
texto: #14342B (tom escuro)

Fontes:
texto-principal: 
titulos e subtitulos: */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #FFF7F4;
    --fundo-card: #ebbebe;
    --botoes: #644a4a;
    --botoes-transparente: #644a4a0e;
    --botoes-detalhes: #6A8D73;
    --texto-destaque: #5e4b46;
    --texto: #333333;
}

body{
    font-family: 'poppins', sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
}
 h1, h2, h3 {
    font-family: 'cormorant garamond', serif;
    font-weight: normal;
 }
header{
    background-color:var(--fundo-card);
}

div.extra{
    background-color: var(--fundo-principal);
    color: var(--texto-destaque);
    padding: 4px;
    text-align: center;
    font-size: 0.9em;
}

div.logo{
    padding-top:30px;
    padding-bottom: 10px;
}

div.logo h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2.3em;
    color: var(--texto-destaque);
}

div.logo h2{
    text-align: center;
    color: var(--texto-destaque);
    font-weight: bold;
}

nav{
    padding: 10px 25px 10px 25px;
}

nav a{
    color: var(--botoes);
    font-weight: bold;
    font-family: 'cormorant garamond', serif;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    padding: 5px 25px;
    border-radius: 8px;
}

nav a:hover{
    background-color: var(--botoes);
    color: var(--fundo-card);
    border: 2px solid var(--fundo-card);
}

article#bemvindo{
    background-image: url(../imagem-principal.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center 15%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

article#apresentacao{
    background-color: var(--fundo-card);
    text-align: center;
    padding: 15px 60px 30px;
    font-size: 0.9em;
}